body {
	background-color: cornflowerblue;
}

h2 {
	text-decoration: underline;
}

h1, h2, h3 {
	text-align: center;
}

form {
	text-align: center;
	margin-bottom: 25px;
}

.container {
	float: center;
	width: 300px;
	min-height: 500px;
	margin: 0 auto;
	background-color: steelblue;
	border: 3px black solid;
	border-radius: 15px;
}

.alreadydone {
	text-decoration: line-through; 
}